* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  font-family: "Varela", sans-serif;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background: rgb(40, 41, 46);
  padding: 1.5%;
  font-size: 0.8rem;
  color: white;
  /* outline: 2px solid green; */
}

.header__wrapper {
  /* outline: 1px solid red; */
  width: 60%;
}

.header__item {
  color: white;
}

.links__flexible {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo__image {
  width: 159px;
}

.header__wrapper--links {
  /* outline: 1px solid blueviolet; */
  width: 70%;
}

.header__item:hover {
  transition: 400ms;
  color: rgba(223, 176, 88, 0.758);
}

.header__item--special {
  color: rgba(223, 176, 88, 0.758);
}

.main__content {
  outline: 1px solid rgb(255, 197, 49);
  background-image: url(../images/beach.jpg);
  background-size: cover;
  position: relative;
  padding: 24%;
}

.main__content--background {
  /* outline: 1px solid rgb(135, 31, 121); */
  background: rgba(0, 0, 0, 0.4);
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.element__position {
  position: absolute;
}

.main__item--special {
  /* outline: 1px solid rgb(135, 31, 121); */
  font-size: 0.9rem;
  letter-spacing: 1px;
  left: 43%;
  bottom: 58%;
  color: rgb(255, 255, 255);
}

.main__item {
  left: 21%;
  bottom: 44%;
  font-size: 4.3rem;
  /* outline: 1px solid rgb(135, 31, 121); */
}

.main__wrapper--botton {
  left: 42%;
  bottom: 32%;
  width: 13%;
  /* outline: 1px solid rgb(135, 31, 121); */
  font-size: 0.8rem;
  margin-top: 10px;
  padding: 18px;
  border-radius: 50px;
}

.element__background {
  background: #4674e7;
}

.element__background:hover {
  background: #476dcc;
  transition: 300ms;
}

.main__item--botton {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  /* outline: 1px solid rgb(135, 31, 121); */
}

.form__wrapper {
  margin-top: 55px;
  width: 83%;
  /* outline: 1px solid rgb(135, 31, 121); */
}

.form__items {
  /* outline: 1px solid rgb(135, 31, 121); */
  font-size: 1rem;
  color: #5c5c5c;
  width: 82%;
}

.form__wrapper--input {
  padding-top: 35px;
  width: 98%;
}

.form__items--input {
  width: 86%;
}

.element__flexible-1 {
  display: flex;
  justify-content: space-between;
}

.element__flexible-2 {
  display: flex;
  justify-content: space-around;
}

.input, .list, .botton__wrapper {
  border-radius: 52px;
  padding: 15px;
  width: 150px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #e1dfdf;
}

.botton__wrapper {
  width: 13%;
}

.botton__items {
  font-size: 0.9rem;
  width: 87%;
  letter-spacing: 1px;
  color: #ffff;
}

.element__transform {
  text-transform: uppercase;
}

.main {
  background-color: rgb(255, 255, 255);
}

.main__wrapper {
  width: 66%;
  padding: 14%;
}



.main__subtitle {
  color: #17a2b8;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 3px;
  font-size: 0.9rem;
}

.main__title {
  font-size: 2.7rem;
  padding-top: 22px;
  line-height: 53px;
  font-weight: 700;
  color: #0f2454;
}

.main__title span {
  color: #17a2b8;
}

.main__text {
  padding-top: 25px;
  line-height: 1.75em;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-family: 'Barlow', sans-serif;
  color: #676977;
}

.main__about--text {
  color: #676977;
  font-family: 'Barlow', sans-serif;
  padding-top: 20px;
}
